#clockBlock
{
    display:inline-block;
    margin-left: 50px;
}
#canvasElem{
    position: absolute;
}
#canvasSec
{
    position: absolute;
}
#canvasMin
{
    position: absolute;
}
#canvasHour
{
    position: absolute;
}