#backGround
{
    background-color: khaki;
    width: 425px;
    height: 175px;
}

#mainBlock {
    width:  400px;
    height: 150px;
    border: 2px solid red;
    text-align: center; 
    hyphens: auto;
    position: relative;
    word-wrap: break-word;
    left: 10px;
    top: 10px;


  user-select: none;

  }
    #triangle {
        position: absolute;
        left: calc(inherit - 25px);
        top: calc(inherit - 25px);
        width: 0ch;
        border-bottom: 25px solid #5bc0de;
        border-left: 25px solid transparent;
    }
  
body
{
    height: 1000px;
}

