@{
    ViewData["Title"] = "Header";
}
<table id="Links">
    <tr>
        <td><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ListProduct">List products</a></td>
        <td><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TableProduct">Table products</a></td>
    </tr>
</table>

