body
{
    height: 1700px;
}

div
{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#DateStr
{
    width: 250px;
    height: 100px;
    background-color: rgb(88, 225, 230);
}
#checkDate
{ 
    margin-top: 10px;
    margin-left: 10px;
    width: 250px;
    height: 100px;
    background-color: cornflowerblue;  
}
#answerBlock
{
    width: 300px;
    height: 100px;
    background-color: rgb(162, 240, 229);
    display: table-cell;
    vertical-align: middle;
    margin-left: 50%;

    position: fixed;
}
#LeapYearBlock
{
    width: 250px;
    height: 100px;
    background-color: rgb(88, 230, 88);
}
#NextDateBlock
{
    width: 250px;
    height: 100px;
    background-color: rgb(180, 211, 41);
}
#colorTextBlock
{
    width: 250px;
    height: 100px;
    max-width: 250px;
    background-color: rgb(231, 236, 205);
    word-wrap: break-word;
}
#proMarkBlock
{
    width: 250px;
    height: 100px;
    background-color: rgb(231, 236, 205);
}