@{
    ViewData["Title"] = "Contacts";
}
@Html.Partial("Header")

<div class="text-center">
    <h1>Contacts Page</h1>
    <div id="ContactsContentPage">
        Contacts
    </div>
</div>

@Html.Partial("Footer")
