
@{
    ViewData["Title"] = "Footer";
}

<footer id="footer">
    <p>The site was created by Kolobok LLC, by order of the cookie store</p>
    <br/>
    <p>Contacts company:
        <span>
            +3802349555
            <br />
            +3804562345
        </span>
       
    </p>
</footer>

