@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @Html.Partial("Header")

    <h1>Home page</h1>
    <div id="HomeContectPage">
        <p>Contect</p>
    </div>

    @Html.Partial("Footer")
</div>
