body
{
    background: url('Material/IMG/BG1.JPG');
}
#title
{
    margin-left:10%;
}
#titleText
{
    font-size:xx-large;
    font-weight:bold;
    color: white;
    text-align: center;
}
#RowPictures
{
    margin-left: 10%;
}
#RowPictures > img
{
    border: 5px solid rgb(61, 67, 141);
    margin-top: 40px;
    margin-right: 3px;
}
#RowPictures > :hover
{
    border-color: rgb(33, 40, 141);
}
#r
{
width: 150px;
height: 150px;
color: red;
}