#registBlock
{
    background-color: blanchedalmond;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 
#title
{
    text-align: center;
    font-weight: 600;
}
#registForm label
{
    font-weight: 900;
    font-size: 15px;
}
#registForm input
{
  width: 300px;
}
#registForm > div
{
    margin-top: 10px;
}
#registForm > div > div 
{
    font-weight: 900;
    font-size: 15px;
    height: 20px;
    background-color: red;
    display: inline-block;
}
#registForm > button{
    margin-top: 20px;
    width: 310px;
}
.errLabel
{
    float: right;
    text-align: right;
    color: red;
}
#userInfoBlock
{
    background-color:blanchedalmond;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#userInfoBlock button
{
    width:  533px;
    margin-left: 25px;
    margin-top: 20px;
}
#userEmail
{
    float: right;
    font-size: 13px;
}
#userEmail a
{
    color: blue;
    font-size: 13px;
    font-weight: 600;
}
#title
{
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
}
#pullField > div
{
    float: left;
    margin-left: 25px;
    margin-top: 10px;
    width: 250px;
}
#pullField input
{
  width: 250px;
}
#pullField select
{
  width: 260px;
  height: 22px;
  
}
#userInfoForm label
{
    font-weight: 800;
    font-size: 14px;
}