
@{
    ViewData["Title"] = "LogIN";
}

<form method="post" action="/Home/LogIN">
    <label for="Login">Login</label>
    <input type="text" name="Login" placeholder="Enter your login" />
    </br>
    <label for="Password">Password</label>
    <input type="password" name="Password" placeholder="Enter your password" />
    </br>
    <input type="submit" value="Log in"  />
</form>

