
@{
    ViewData["Title"] = "SignIn";
}

<form method="post" action="/Home/SingIN">
    <label for="Login">Login</label>
    <input type="text" name="Login" placeholder="Enter your login" />
    </br>

    <label for="Password">Password</label>
    <input type="password" name="Password" placeholder="Enter your password" />
    </br>

    <label for="Password2">Access password</label>
    <input type="password" name="Password2" placeholder="Enter password again" />
    </br>

    <label for="Email">Email</label>
    <input type="email" name="Email" placeholder="Enter your Email" />
    </br>

    <input type="submit" value="Sing in" />
</form>

